@import "styles/fonts";
@import "styles/tailwind";

html,
body {
  @apply p-0 m-0;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#root {
  @apply w-screen h-screen bg-gray-50;
}

#popup-root {
  & .popup-overlay {
    background-color: rgba(0,0,0,.5) !important;
  }

  & .popup-content  {
    @apply w-0 p-0 border-none;

    > div:first-child {
      height: 0 !important;
      width: 0 !important;
    }
  }
}
